First Day of Machine Learning
Lets try some basic of Python

In [2]:
print("This is Aononto Jahan Junnurain")
print("Currently I am doing my Bsc at International University of Business Agriculture and Technology (IUBAT)"+" This is my last year of Bsc")

This is Aononto Jahan Junnurain
Currently I am doing my Bsc at International University of Business Agriculture and Technology (IUBAT) This is my last year of Bsc

In [3]:
name = input("Enter your name: ")
print("Hello, " + name + "! Welcome to the Python programming world.")
print("Thank You",name,"for visiting my program")

print(f"Have a great day, {name}!")

Hello, Aononto! Welcome to the Python programming world.
Thank You Aononto for visiting my program
Have a great day, Aononto!

In [4]:
a = int(input("Enter first number: "))
b = float(input("Enter second number: "))
sum = a + b
print("The sum of", a, "and", b, "is:", sum)

The sum of 6 and 7.0 is: 13.0

In [5]:
secounds_in_a_day = 24 * 60 * 60
print(f"Seconds in a day: {secounds_in_a_day}" + " secounds")
secounds_in_a_week = secounds_in_a_day * 7
print(f"Seconds in a week: {secounds_in_a_week}" + " secounds")

Seconds in a day: 86400 secounds
Seconds in a week: 604800 secounds

In [6]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
salary = float(input("Enter your salary: "))
years_of_experience = float(input("Enter your years of experience: "))

total_income = salary * years_of_experience * 12

print("Your name is : ", name)
print(f"Total income over {years_of_experience} years: ${total_income}")

Your name is :  Aonotno
Total income over 1.3 years: $7800.0